.event-wrap-card {
  border-radius: 50px;
  transition: box-shadow 0.2s;
  border: 2px solid transparent;

  &.selected {
    border: 2px solid #304FFE;
  }

  &:hover {
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.30), 0 5px 4px rgba(0, 0, 0, 0.22);
  }
}

.event-wrap {
  display: flex;
  border-radius: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.event-data {
  padding: 8px 10px 8px 18px;
  cursor: pointer;
  transition: background-color 0.1s;
  min-width: 60px;
}

.event-name {
  font-size: 14px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 120px;
  height: 1.2em;
  white-space: nowrap;
}

.event-remove {
  cursor: pointer;
  padding: 14px 15px 15px 10px;
  transition: all 0.2s;
  color: #D50000;
  border-left: 1px solid #EEE;

  &:hover {
    color: #FFF;
    background-color: #D50000;
  }
}

.event-date {
  font-size: 10px;
  color: #888;
}
