<mat-card class="user-card">
  <div class="user-card-wrap">
    <div class="user-name" [title]="user.name">{{user.name}}</div>
    <div class="delete-user-wrap">
      <div class="delete-user"
           mwlConfirmationPopover
           [popoverTitle]="'You are about to exclude this user'"
           [popoverMessage]="'The user wont be removed, but will be excluded from this event and can be added later'"
           placement="right"
           (confirm)="deleteUser()">
        <fa-icon [icon]="closeIcon"></fa-icon>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="related-users-wrap">
  <div class="related-users-down-icon">
    <fa-icon [icon]="arrowIcon"></fa-icon>
  </div>
</mat-card>
