.user-card {
  z-index: 2;
}

.user-card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
  flex-direction: row;
}

.delete-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s;
  font-size: 18px;
  border-radius: 0 10px 10px 0;
  color: #D50000;
  border-left: 1px solid #eee;
  height: 45px;

  &:hover {
    color: #FFF;
    background-color: #D50000;
  }
}

.edit-user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s;
  font-size: 16px;
  color: #304FFE;
  border-left: 1px solid #eee;
  height: 45px;

  &:hover {
    color: #FFF;
    background-color: #304FFE;
  }
}

.user-name {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 180px;
  white-space: nowrap;
}

.user-card-nav {
  display: flex;
}
