<mat-card class="user-card">
  <div class="user-card-wrap">
    <div class="user-name" [title]="user.name">{{user.name}}</div>
    <div class="delete-user-wrap">
      <div class="delete-user"
           mwlConfirmationPopover
           [popoverTitle]="'You are about to exclude this user'"
           [popoverMessage]="deleteUserMessage"
           placement="right"
           (confirm)="deleteUser()">
        <fa-icon [icon]="closeIcon"></fa-icon>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="related-users-wrap" [ngClass]="{isOpened: isOpened}">
  <div class="payed-for">
    <div *ngIf="isSomeonePayedForThisUser ; else isNobodyToSelectBlock" class="no-user-text">
      {{ payedUserName }} already payed for you
    </div>
    <ng-template #isNobodyToSelectBlock>
      <div *ngIf="isNobodyToSelect ; else elseBlock" class="no-user-text">No users you can pay for</div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="payed-for-label">Pay for:</div>
      <mat-form-field class="users-selection" appearance="fill" [title]='usersTitle'>
        <mat-select [formControl]="userIdsInputControl" multiple [placeholder]="'Choose user'" (selectionChange)="addRelatedUser()">
          <ng-template *ngIf="usersToSelect.length!==0" ngFor let-user [ngForOf]="usersToSelect">
            <mat-option [value]="user.uid" [disabled]="isDisabledOption(user.uid)">
              <span>{{ user.name }}</span>
              <fa-icon *ngIf="isDisabledOption(user.uid)" [icon]="infoIcon" [title]="getOptionDisableHelpTitle(user.uid)"
                       class="info-disabled-icon"></fa-icon>
              <fa-icon *ngIf="!isDisabledOption(user.uid) && getOptionHelpTitle(user).length !== 0"
                       [icon]="infoIcon" [title]="getOptionHelpTitle(user)"
                       class="info-icon"></fa-icon>
            </mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </div>
  <div class="related-users-down-icon" (click)="toggleRelatedUsers()">
    <fa-icon [icon]="arrowIcon"></fa-icon>
  </div>
</mat-card>
