<div class="payment-modifications">

  <div class="no-enough-users" *ngIf="(usersToSelect | async)?.length === 1; else noModsFound">
    <div class="no-mods-text">Only one user attached, this is not enough to create modifications</div>
  </div>

  <ng-template #noModsFound>
    <div class="no-modifications" *ngIf="isNoModifications | async">
      <div class="no-mods-text">No modification found for this payment ticket</div>
      <div class="no-mods-btn" (click)="openDialog()">Add one</div>
    </div>
  </ng-template>

  <div class="modifications" *ngIf="!(isNoModifications | async)">
    <div class="excluded-modifications" *ngIf="(excludedModifications | async)?.length !==0 ">
      <ng-template ngFor let-modification [ngForOf]="(excludedModifications | async)">
        <div class="modification excluded-modification">
          <div class="modification-label">User <strong>{{ involvedUserName(modification) }}</strong> was removed from this payment</div>
          <fa-icon class="modification-remove" [icon]="deleteIcon" (click)="removeExcludedModification(modification.uid)"></fa-icon>
        </div>
      </ng-template>
    </div>

    <div class="calculation-modifications" *ngIf="(calculationModifications | async)?.length!==0">
      <ng-template ngFor let-modification [ngForOf]="(calculationModifications | async)">
        <div class="modification calculation-modification">
          <div class="modification-label" (click)="editModification(modification)">
            <span class="modification-user-name">
              {{ involvedUsersName(modification) }}: <strong class="modification-label-strong">{{ modification.mathExpression }}
              UAH</strong>
            </span>
            <span class="modification-comment" *ngIf="modification.hasComment" [title]="modification.comment">
              {{ modification.comment }}
            </span>
          </div>
          <fa-icon class="modification-remove" [icon]="deleteIcon" (click)="removeCalculationModification(modification.uid)"></fa-icon>
        </div>
      </ng-template>
    </div>

    <fa-icon class="add-icon" [icon]="addIcon" (click)="openDialog()"></fa-icon>
  </div>
</div>
