<div class="payment-modifications">

  <div class="new-payment-warning no-mods-text" *ngIf="payment.isNew; else noUsers">You have to save payment to add modificaitons</div>

  <ng-template #noUsers>
    <div class="no-enough-users" *ngIf="usersToSelect.length === 1; else noModsFound">
      <div class="no-mods-text">Only one user attached, this is not enough to create modifications</div>
    </div>
  </ng-template>

  <ng-template #noModsFound>
    <div class="no-modifications" *ngIf="usersToSelect.length > 1 && isNoModifications">
      <div class="no-mods-text">No modification found for this payment ticket</div>
      <div class="no-mods-btn" (click)="openDialog()">Add one</div>
    </div>
  </ng-template>

  <div class="modifications" *ngIf="!isNoModifications">
    <div class="excluded-modifications" *ngIf="excludedModifications.length!==0">
      <ng-template ngFor let-modification [ngForOf]="excludedModifications">
        <div class="modification excluded-modification">
          <div class="modification-label">User <strong>{{ involvedUserName(modification) }}</strong> was removed from this payment</div>
          <fa-icon class="modification-remove" [icon]="deleteIcon" (click)="removeExcludedModification(modification.uid)"></fa-icon>
        </div>
      </ng-template>
    </div>

    <div class="calculation-modifications" *ngIf="calculationModifications.length!==0">
      <ng-template ngFor let-modification [ngForOf]="calculationModifications">
        <div class="modification calculation-modification">
          <div class="modification-label" (click)="editModification(modification)">
            <span class="modification-user-name">
              {{ involvedUsersName(modification) }}: <strong class="modification-label-strong">{{ modification.mathExpression }}
              UAH</strong>
            </span>
            <span class="modification-comment" *ngIf="modification.hasComment" [title]="modification.comment">
              {{ modification.comment }}
            </span>
          </div>
          <fa-icon class="modification-remove" [icon]="deleteIcon" (click)="removeCalculationModification(modification.uid)"></fa-icon>
        </div>
      </ng-template>
    </div>

    <fa-icon class="add-icon" [icon]="addIcon" (click)="openDialog()"></fa-icon>
  </div>
</div>
