.payment-modifications {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  text-align: center;
  padding: 20px 4px 5px 4px;
}

.calculation-modifications {
  margin-top: 10px;
}

.no-mods-text {
  color: #aaa;
  font-weight: 100;
  font-size: 14px;
}

.no-mods-btn {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  display: inline-block;
  transition: all 0.2s;
  background-color: white;
  position: relative;
  color: #304FFE;

  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.2s;
    background-color: #304FFE;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.modification-label-strong {
  margin-left: 6px;
}

.modification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;

  &.excluded-modification {
    background-color: rgba(#D50000, 0.2);

    .modification-remove {
      &:hover {
        background-color: #D50000;
        color: white;
      }
    }
  }

  &.calculation-modification {
    background-color: rgba(#304FFE, 0.2);

    .modification-label {
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #304FFE;
        color: white;
      }
    }

    .modification-remove {
      &:hover {
        background-color: #D50000;
        color: white;
      }
    }
  }

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.modification-label {
  font-size: 13px;
  padding-left: 15px;
  color: black;
  flex: 1;
  height: 29px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 50px 0 0 50px;
}

.modification-remove {
  height: 29px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  border-left: 1px solid #666;
  color: black;
  transition: all 0.2s;
  padding-right: 2px;
}

.add-icon {
  cursor: pointer;
  margin-top: 20px;
  font-size: 24px;
  display: inline-block;
  color: #304FFE;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  width: 24px;
  height: 24px;
  transform: rotate(0);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  line-height: 1em;

  &:hover {
    box-shadow: 14px 0 28px rgb(0 0 0 / 25%), 10px 0 10px rgb(0 0 0 / 22%);
    transform: rotate(90deg);
  }
}
