<div class="edit-user-modal-wrap">
  <h3 class="edit-user-title">Edit user <span>{{ user.name }}</span></h3>

  <form class="edit-user-modal-form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="User name" [formControl]="nameInputControl">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Card number</mat-label>
      <input matInput type="number" placeholder="User name" [formControl]="cardNumberInputControl">
    </mat-form-field>
  </form>

  <div class="edit-user-modal-btns">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="editUser()">Edit</button>
  </div>
</div>
