<div class="section-event-message" *ngIf="!hasSelectedEvent; else secondBlock">
  <div>Please select event or create new one</div>
</div>

<ng-template #secondBlock>
  <div class="section-event-message" *ngIf="!(hasAttachedUsers | async); else thirdBlock">
    <div>Please attach users to the event</div>
  </div>
</ng-template>

<ng-template #thirdBlock>
  <div class="section-event-message" *ngIf="!(hasPayments | async); else contentBlock">
    <div>Please create some payments to get result</div>
  </div>
</ng-template>

<ng-template #contentBlock>
  <div class="user-section-wrap" *ngIf="transactions | async as transactions; else lolBlock">
    <ng-template ngFor let-user [ngForOf]="involvedUsers">
      <app-transaction-item class="transaction-item"
                            [user]="user"
                            [transactionsMap]="transactionsMap"
                            [transactions]="transactions"></app-transaction-item>
    </ng-template>
  </div>
  <ng-template #lolBlock>asd asd asd as</ng-template>
</ng-template>
