.section-content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.members-wrap {
  width: 100%;
  padding-right: 20px;
}

.members-list-wrap {
  padding-right: 20px;
  padding-bottom: 5px;
  max-height: 590px;
  overflow: visible;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 25px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 25px;
  }
}

.members {
  display: flex;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
}

.members-list {
  margin-top: 45px;
}

.no-users-found {
  font-size: 20px;
  text-align: center;
  color: #AAA;
  text-shadow: -1px 1px 1px #FFF;
  margin-top: 20px;
}

.member-wrap {
  display: block;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.no-users-found-button {
  margin-top: 10px;
  cursor: pointer;
  color: #304FFE;
  position: relative;
  padding: 0 10px 5px;
  display: inline-block;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    margin: auto;
    background-color: #304FFE;
    transition: all 0.2s;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}
