<div *ngIf="hasSelectedEvent; else showStub" class="section-content-wrap">
  <div *ngIf="users | async as users">
    <div class="members-wrap" *ngIf="users.length!==0; else showUsersStub">
      <div class="members">
        <div class="members-title">Members</div>
        <div class="members-add add-btn" (click)="openDialog()">
          <fa-icon [icon]="closeIcon"></fa-icon>
        </div>
      </div>

      <div class="members-list" *ngIf="currentEvent?.uid">
        <div class="members-list-wrap">
          <ng-template ngFor let-user [ngForOf]="users">
            <app-user class="member-wrap" [user]="user" [currentEvent]="currentEvent!"></app-user>
          </ng-template>
        </div>
      </div>
    </div>
    <ng-template #showUsersStub>
      <div class="no-users-found">
        <div>No users found</div>
        <div class="no-users-found-button" (click)="openDialog()">Add one</div>
      </div>
    </ng-template>
  </div>
</div>
<ng-template #showStub>
  <div class="section-event-message with-button">Please select event or create new one</div>
</ng-template>
