/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #F8F8F8;
  position: relative;
  display: block;
  overflow: auto;

  > * {
    position: relative;
    display: block;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
