<div class="section-event-message" *ngIf="!hasSelectedEvent">
  <div>Please select event or create new one</div>
</div>

<div class="section-event-message" *ngIf="!hasAttachedUsers">
  <div>Please attach users to the event</div>
</div>


<div *ngIf="hasSelectedEvent && hasAttachedUsers" style="width: 100%" class="payments-wrap">
  <fa-icon [icon]="plusIcon" class="add-new-payment-icon"></fa-icon>
  <div class="payments-list-wrap">
    <ng-template ngFor let-payment [ngForOf]="payments">
      <app-payment [payment]="payment" class="payment-item"></app-payment>
    </ng-template>
  </div>
</div>
