<div class="user-section">
  <div class="user-section-label">{{ user.name }}</div>
  <div class="user-transactions-wrap">
    <div class="user-transactions">
      <ng-template ngFor let-userTransaction [ngForOf]="userTransactions">
        <mat-card class="user-transaction">
          <mat-card-content class="card-content">
            <div class="user-transaction-head">
              <div class="user-transaction-label">{{ userTransaction.user.name }}</div>
              <div class="user-transaction-card"
                   title="copy card number"
                   (click)="copyCardNumber(userTransaction.user.card)"
                   *ngIf="userTransaction.user.normalizedCard">{{ userTransaction.user.normalizedCard }}</div>
              <div class="user-transaction-total">{{ getTotal(userTransaction) }} UAH</div>
            </div>

            <div class="user-transaction-body">
              <div class="user-transaction-body-content" [ngClass]="{hidden: isHiddenItemDetails(userTransaction)}">
                <ng-template ngFor let-transactionItem [ngForOf]="userTransaction.transactions">
                  <div class="transaction-item">
                    <div class="transaction-item-label-wrap">
                      <div class="transaction-item-label">
                        <span [title]="getTransactionLabel(transactionItem)"
                              class="transaction-item-label-text">{{ transactionItem.getText() }}</span>
                        <fa-icon class="info-icon transaction-item-label-icon"
                                 *ngIf="transactionItem.modifications.length !== 0"
                                 [icon]="infoIcon"
                                 [satPopoverAnchor]="detailTransactionInfo"
                                 (mouseenter)="detailTransactionInfo.open()"
                                 (mouseleave)="detailTransactionInfo.close()"></fa-icon>
                        <sat-popover #detailTransactionInfo verticalAlign="above">
                          <mat-card>
                            <mat-card-content>
                              <div class="modifications-info-wrap">
                                <div class="modifications-info">
                                  <div class="modifications-info-detail">
                                    <span class="modifications-info-detail_title">
                                      <span>Original value</span>
                                    </span>
                                    <strong class="modifications-info-detail_value">{{ transactionItem.originalValue }} UAH</strong>
                                  </div>
                                  <ng-template ngFor let-modification [ngForOf]="transactionItem.modifications">
                                    <div class="modifications-info-detail">
                                      <span class="modifications-info-detail_title">
                                        <span>{{ modification.comment || 'No reason' }}</span>
                                      </span>
                                      <strong class="modifications-info-detail_value">{{ modification.userPart }} UAH</strong>
                                    </div>
                                  </ng-template>
                                </div>
                              </div>
                            </mat-card-content>
                          </mat-card>
                        </sat-popover>
                      </div>
                    </div>
                    <div class="transaction-item-value">{{ transactionItem.money }} UAH</div>
                  </div>
                </ng-template>
                <div class="transaction-item opposite-money" *ngIf="getOppositeMoney(userTransaction)!==0">
                  <div class="transaction-item-label-wrap">
                    <div class="transaction-item-label"
                         [title]="getOppositeMoneyTitle(userTransaction)">{{ getOppositeMoneyTitle(userTransaction) }}</div>
                  </div>
                  <div class="transaction-item-value">{{ getOppositeMoney(userTransaction)}} UAH</div>
                </div>
              </div>
              <div class="transaction-toggle-btn-wrap" [ngClass]="{hidden: isHiddenItemDetails(userTransaction)}">
                <div class="transaction-toggle-btn" (click)="toggleIsHiddenDetails(userTransaction)">
                  <fa-icon class="transaction-toggle-btn__icon" [icon]="arrowIcon"></fa-icon>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>
  </div>
</div>
