.user-section {
  display: flex;
  justify-content: space-between;
}

.user-section-label {
  font-size: 26px;
  width: 120px;
  padding: 10px 30px 10px 10px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.user-transactions-wrap {
  width: calc(100% - 150px);
}

.user-transactions {
  width: 100%;
}

.user-transaction {
  width: 100%;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 15px;
  }
}

.card-content {
  overflow: hidden;
  padding: 0;
}

.user-transaction-label {
  font-size: 20px;
  z-index: 2;
  position: relative;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.user-transaction-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px 16px 8px 16px;
  background-color: white;
}

.user-transaction-card {
  color: #bbb;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  position: relative;

  &:hover {
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 0;
      border: 1px dashed #bbb;
      bottom: 1px;
      left: 5px;
      right: 5px;
    }
  }
}

.user-transaction-total {
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  position: relative;
  width: 100px;
  text-align: right;
}

.user-transaction-body-content {
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  position: relative;
  padding: 16px 0 0 0;

  &.hidden {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &.opposite-money {
    margin-top: 15px;
    color: red;

    &:before {
      border-bottom: 2px dotted red;
    }

    .transaction-item-label {
      font-size: 18px;
    }

    .transaction-item-value {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px dotted black;
    z-index: 1;
  }
}

.transaction-item-label-wrap {
  width: 35%;
  padding: 0 10px;
  z-index: 2;
  background-color: white;
}

.transaction-item-label {
  font-size: 16px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
  background-color: white;
}

.transaction-item-value {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30%;
  z-index: 2;
  padding: 0 10px;
}

.transaction-toggle-btn-wrap {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  transition: all 0.2s;

  &.hidden {
    margin-top: 0;

    .transaction-toggle-btn__icon {
      transform: rotateX(0);
    }
  }

  .transaction-toggle-btn__icon {
    display: block;
    transform: rotateX(180deg);
    transition: all 0.2s;
  }
}

.transaction-toggle-btn {
  padding: 4px 16px;
  position: relative;
  display: block;
  background-color: white;
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: rgba(#304FFE, 0.2);
  }
}

.transaction-item-label-icon {
  padding: 0 0 0 6px;
  color: #ccc;
  cursor: help;
  transition: color 0.2s;

  &:hover {
    color: #111;
  }
}

.modifications-info-detail {
  position: relative;

  &:not(:first-child) {
    margin-top: 5px;
  }

  &_title {
    width: 199px;
    padding: 0 10px;
    display: inline-block;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    background-color: white;
    position: relative;
    margin-right: 50px;

    span {
      padding-right: 2px;
    }

    &:after {
      content: ":";
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: white;
      z-index: 2;
      padding: 0 5px 0 2px;
    }
  }

  &_value {
    padding: 0 10px;
    width: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    z-index: 2;
    background-color: white;
    position: relative;
    margin-left: 50px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px dotted black;
    z-index: 1;
  }
}

