.payment-card-wrap {
  width: 100%;
  text-align: left;
}

.details-list {
  display: grid;
  grid-template-columns: 75px 140px;
  width: 215px;
  grid-row-gap: 20px;
  align-items: center;
}

.payment-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
  font-size: 16px;
  text-align: right;

  ::ng-deep {
    .mat-mdc-form-field {
      width: 100%;
    }

    .mat-mdc-form-field .mat-mdc-form-field-infix {
      min-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .mat-mdc-select-min-line {
      font-size: 14px;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mdc-text-field__input {
      font-size: 14px;
      text-align: right;
    }
  }
}

.payment-detail-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
}

.payment-detail-value {
  font-size: 14px;
  line-height: 1em;
  display: flex;
  align-content: flex-end;
  width: 140px;
  justify-content: center;
  align-items: baseline;

  ::ng-deep {
    .mat-mdc-form-field-flex {
      height: 25px;
    }

    .mat-mdc-form-field .mat-mdc-form-field-infix {
      min-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-select-min-line {
      font-size: 14px;
    }

    .mat-mdc-form-field .mat-mdc-text-field-wrapper {
      padding: 0;
    }

    .mdc-text-field .mdc-text-field__input {
      padding: 0 5px;
      font-size: 14px;
    }
  }
}

.payment-date {
  text-align: right;
  font-size: 10px;
  margin-top: 5px;
  color: #aaaaaa;
}

.payment-details {
  display: flex;
  justify-content: space-between;
  padding: 4px 4px 0 4px;
}

.payment-modifications {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  text-align: center;
  padding: 20px 4px 5px 4px;
}

.no-mods-text {
  color: #aaa;
  font-weight: 100;
  font-size: 14px;
}

.no-mods-btn {
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  display: inline-block;
  transition: all 0.2s;
  background-color: white;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.2s;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}
